*.pyc
/.vs
/build
CMake*.json
.idea
python/build/
python/ctranslate2.egg-info/
python/dist/
cmake-build-debug/
release
pytorch_model.bin
model.bin
python/torch_model/tmp/*
python/torch_model/*
python/tests/bert/bert_model/*
build2
build3
profile.prof
profile.prof_origin

